.mainHead {
    color: goldenrod;
    font-family: sans-serif;
    font: 20px;;
   
  }
  .mainHead  { 
    text-shadow: 2px 3px 4px rgb(247, 14, 14);
}

  .Title{
    color: cadetblue;
    font-family: 'Times New Roman', Times, serif;
    font: 18px;
  }
  .Title:hover{
    text-shadow:5px 5px yellowgreen;
  }
  .subtitle{
    color: green;
    font-family: 'Times New Roman', Times, serif;
    font: 16px;
  }

  .speech {
    color: black;
    font-family: sans-serif;
    font: 12px;;
  }

  .SONG {
    color: coral;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: 12px;;
  }

  .directions {
    color: rgb(6, 6, 6);
    background-color: yellow;
    font-family: 'monospace';
    font: 12px;;
  }

  .directions:hover  {
    background-color: #1b2e41;
    font-family:  'monospace';
    color: whitesmoke;
    font:18;
  }

  .BUT{
    color: burlywood;
    font-family:'Courier New', Courier, monospace
    font: 12px; ;
  }

  .BUT:hover{
    text-shadow: 2px 3px 4px rgb(247, 208, 14); 
  }
.CAPT{
  color: rgb(255, 183, 0);
  font-family:'Courier New', Courier, monospace;
  font: 12px; ;
}
.CAPT:hover{
    text-shadow: 2px 3px 4px rgb(247, 14, 115);
}

.group{
  color: rgb(0, 255, 174);
  font-family:Arial, Helvetica, sans-serif;
  font: 12px; ;
 
}
    
.JOS{
  color: rgb(148, 94, 24);
  font-family:'Courier New', Courier, monospace;
  font: 12px; ;
}

.SIR JOSEPH{
  color: rgb(205, 33, 58);
  font-family:Georgia, 'Times New Roman', Times, serif;
  font: 12px;
}

.DICK{
  color: rgb(175, 209, 26);
  font-family:'Courier New', Courier, monospace;
  font: 12px;
}
td,th,table{
    color:black;
    border: solid 3px rgb(205, 188, 3);
    border-collapse:seperate;
    text-align:center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
}
    .ALL2{
        color: rgb(205, 24, 250);
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font: 12px;   
    }
    .CREW{
        color: rgb(6, 71, 124);
        font-family:Arial, Helvetica, sans-serif;
        font: 12px;
    }
    .CREW:hover{
        text-shadow:5px 5px rgb(113, 4, 191); 
    }
    .RALPH{
        color: rgb(141, 8, 61);
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font: 12px;
    }
    .RALPH:hover{
        text-shadow:5px 5px yellowgreen;
    }
    .BUT2{
        color: rgb(230, 191, 49);
        font-family:'Times New Roman', Times, serif;
        font: 12px;
    }
    ul {
        list-style-type: none;
        margin: 4px;
        padding: 4px;
        overflow: hidden;
        background-color: rgb(234, 125, 41);
      }
      
      
      
      li {
        float: left;
      }
      
      
      
      li b {
        display: block;
        color: rgb(178, 24, 249);
        text-align: center;
        padding: 10px 10px;
      
      }




